numpy==1.26.2
fastapi==0.104.1
uvicorn==0.24.0.post1
python-multipart==0.0.6
jinja2==3.1.2
pydantic-settings==2.1.0
tensorflow-cpu==2.15.0
ultralytics==8.0.218
boto3==1.29.6
python-dotenv==1.0.0
ffmpeg_python==0.2.0