body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.app-bar {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    height: 55px;
}

h1 {
    margin: 0;
    color: green;
    font-size: 32px;
}

form {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.input-container {
    margin-bottom: 20px;
}

.file-label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.file-label input {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.file-label span {
    font-size: 16px;
}

/* Add styles for the chosen file name */
#fileName {
    margin-right: 10px;
}

#submitButton {
    display: block;
    margin: auto;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#loading {
    margin-top: 20px;
    text-align: center;
    color: red;

}

#response {
    margin-top: 20px;
}

.thumbnail-images-text {
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 24px;
}

.output-container {
    background-color: #dff0d8;
    border: 1px solid #d0e9c6;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    overflow: auto;
    /*max-height: auto;*/
}


.thumbnail-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* or justify-content: space-between; */
}

.thumbnail {
    width: calc(25% - 10px); /* 25% width with margin between thumbnails */
    height: 200px;
    margin: 5px;
    cursor: pointer;
    box-sizing: border-box;
}


/* Center the reset button */
#resetButton {
    display: block;
    margin: auto;
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Adjust margin as needed */
}